*{
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Plain Light';
}
html, body{
	height: 100%;
	width: 100%;
}
.crsr{
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	border: 2px solid white;
	position: fixed;
	z-index: 999;
	mix-blend-mode: difference;
	transform: translate(-50%, -50%);
}
#loader{
	height: 100vh;
	width: 100vw;
	background-color: rgb(20, 20, 20);
	position: fixed;
	z-index: 999;
	padding-top: 18vh;
	padding-left: 10vw;
	
}
.line{
	height: fit-content;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1vw;
}
.line-part1{
	display: flex;
	padding-right: 1vw;
}
#your{
	display: flex;
	position: relative;
	z-index: 2;
}
.line-part1 h5, .line-part1 h6{
	font-size: 3vw;
	font-weight: 100;
	font-family: 'silk serif';
}
.line-part1 h5{
	width: 5vw;
	text-align: right;
}
.line h1{
	font-size: 5.5vw;
	text-transform: uppercase;
	font-weight: 700 ;
	
}
#now{
	animation-name: anime;
	animation-duration: 0.71s;
	animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
	font-size: 4.5vw;
	}
@keyframes anime {
	0%{
		font-family: 'plain light';
		-webkit-text-stroke: 1px white;
		color: #fff;
		opacity: 1;
	}
	47%{
		font-family: 'plain light';
		-webkit-text-stroke: 1px white;
		color: #fff;
		opacity: 0;
	}
	50%{ 
		font-family: 'silk serif';
		-webkit-text-stroke: 1px white;
		color: transparent;
		opacity: 1;
	
	}
	100%{ 
		font-family: 'silk serif';
		-webkit-text-stroke: 1px white;
		color: transparent;
		opacity: 0;
	
	}
}
#main{
	position: relative;
	background-color: black;

}

#page1{
	height: 100vh;
	width: 100vw;
	background-color: rgb(0, 0, 0);
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3.5vw 5.5vw;
	font-size: 2vh;
	font-weight: 500;
}
#nav-part2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3vw;
}
.hero{
	font-size: 3.7vw;
	text-transform: uppercase;
	line-height: 16vh;
	font-family: 'plain light';
	margin-left: 28%;
	width: 72%;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 999;
}
.hero h2{
	font-size: 7.5vw;
}
.hero  h2:hover{
	-webkit-text-stroke: 0.1vw #fff;
	color: transparent;
	font-weight: 100;
}
.hero:nth-child(2){
	margin-top: 4.5%;
}